/*
* Third Party
*/
@import "../../bower_components/bootstrap/dist/css/bootstrap.css";


@import "partials/variables.styl";

@import "../../bower_components/bootstrap-stylus/bootstrap/forms.styl";
@import "../../bower_components/bootstrap-stylus/bootstrap/grid.styl";
@import "../../bower_components/owl.carousel/dist/assets/owl.carousel.css";
@import "../../bower_components/components-font-awesome/css/font-awesome.css";


/*
* Custom
*/

@import "partials/navbar.styl";
@import "partials/bootstrap.styl";
@import "partials/scaflouding.styl";
@import "partials/header.styl";
@import "partials/main.styl";
@import "partials/custom-main.styl";
