<div class="row-fluid row-bg-top">
        <h3 class="align-center">Магазины Барахолки</h3>
        <div class="owl-carousel">
            
                <a href="http://baraholka.mastercity.ru/shop/instrumentklub/">
            <div class="owl-carousel__img">
                <img src="http://baraholka.mastercity.ru/files/images/markets/logo/c406a91c_128.png" alt="Инструмент-клуб">   
             </div>                   
                </a>
           

            
                <a href="http://baraholka.mastercity.ru/shop/interskol/">
            <div class="owl-carousel__img">
                <img src="http://baraholka.mastercity.ru/files/images/markets/logo/8f91a486_103.jpg" alt="Интерскол">
            </div>
                </a>
            

            
                <a href="http://baraholka.mastercity.ru/shop/220_volt/">
            <div class="owl-carousel__img">
                <img src="http://baraholka.mastercity.ru/files/images/markets/logo/05519d47_83.png" alt="220 Вольт">
            </div>
                </a>
            

            
                <a href="http://baraholka.mastercity.ru/shop/kuban_instrument/">
            <div class="owl-carousel__img">
                <img src="http://baraholka.mastercity.ru/files/images/markets/logo/3caad43c_133.jpg" alt="Кубань Инструмент">
            </div>   
                </a>
            

            
                <a href="http://baraholka.mastercity.ru/shop/stankoimport/">
            <div class="owl-carousel__img">
                <img src="http://baraholka.mastercity.ru/files/images/markets/logo/990d95f0_130.png" alt="Станкоимпорт">
             </div>   
                </a>
           
            
        </div>
        <div class="text-center">
            <a href="http://baraholka.mastercity.ru/sankt-peterburg/shops/about/" class="btn-category btn-category_banner">Открыть свой магазин</a>
        </div>
</div>