<div class="catlist-plus-elem grid-item">
	<span class="catlist-text"><a href="" class="catlist__href" data-name="@@name">@@name</a><sup>44</sup></span>
	<div class="catlist-text-description">
		<a href="javascript:void(0)" class="catlist-description__href">Легковые автомобили</a><a href="javascript:void(0)" class="catlist-description__href">Мото</a><a href="javascript:void(0)" class="catlist-description__href">Спецтехника</a><br><a href="javascript:void(0)" class="catlist-description__href">Сельхозехника</a><a href="javascript:void(0)" class="catlist-description__href">Водный транспорт</a><a href="javascript:void(0)" class="catlist-description__href">Ещё 5 категорий</a>
	</div>
</div>