<footer>
    <div class="footer">
        <div class="container container-redisain">
					<div class="row" style="margin-bottom:54px;">
						<div class="col-xs-12 col-sm-3">
						  <div class="social">
						      <a href="https://vk.com/mastecity" target="_blank"><i class="fa fa-vk"></i> </a>
						      <a href="https://www.youtube.com/channel/UCiTDyqno8CGl7KjoJmqdC7Q" target="_blank"><i class="fa fa-youtube-play"></i> </a>
						      <a href="http://ok.ru/group/54847510872080" target="_blank"><i class="fa fa-odnoklassniki"></i> </a>
						      
						  </div>
						</div>
						<div class="col-xs-12 col-sm-8">
						  <div class="links">
						      <div class="row">
						          <div class="col-xs-6 col-sm-3">
						              <a href="/forums/">Форум</a>
						              <a href="http://www.mastercity.ru/blogs/">Блоги</a>
						          </div>
						          <div class="col-xs-6 col-sm-3">
						              <a href="http://www.mastercity.ru/about/">О проекте</a>
						              <a href="/faq/">Правила участия</a>
						          </div>
						          <div class="col-xs-6 col-sm-3">
						              <a href="/feedback/">Обратная связь</a>
						              <a href="http://www.mastercity.ru/about/adv/">Реклама</a>
						          </div>
						          <div class="col-xs-6 col-sm-3">
						              <a href="/feedback/">Обратная связь</a>
						              <a href="http://www.mastercity.ru/about/adv/">Реклама</a>
						          </div>
						      </div>
						  </div>
						</div>

						
				    <a href="javascript:void(0)" class="js-up" style="float:right;">
				        <i class="icon-arrow-top"></i>
				    </a>
					
					</div>
					<div class="row end">
						<div class="col-xs-12 col-sm-3">
                    <div class="logo">
                        <a href="/">
                            <img class="img-responsive" src="https://alpha.mastercity.ru/public/img/images/logo-default.png">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="copyright">&copy; 2001-2016 Форум "Город мастеров"</div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    
                    
						<!--LiveInternet counter--><script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?138679"></script><noscript>&lt;img src="http://counter.rambler.ru/top100.cnt?138679" alt="" width="1" height="1" border="0"&gt;</noscript>
                    <a href="http://top100.rambler.ru/home?id=138679"><img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-black2.gif" alt="Rambler's Top100" width="88" height="31" border="0"></a>

                    <!--LiveInternet counter--><script type="text/javascript"></script><a href="http://www.liveinternet.ru/click" target="_blank"><img src="http://counter.yadro.ru/hit?t13.5;rhttp%3A//www.mastercity.ru/;s1366*768*24;uhttp%3A//baraholka.mastercity.ru/;0.9955530160541317" alt="" border="0" width="88" height="31"></a><!--/LiveInternet-->

                    <a target="_top" href="http://top.mail.ru/jump?from=1401306">
                        <img src="http://d1.c6.b5.a1.top.mail.ru/counter?id=1401306;t=210" border="0" height="31" width="88" alt="@Mail.ru">
                    </a>
                    
						</div>
				</div>
			</div>	
		</div>	
</footer>