<div class="header-product">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container container-redisain">
		 	<div class="navbar-header">
			  <a class="navbar-brand" href="http://www.mastercity.ru" style="padding-left:0;">
			  	<div class="icon-logoforum"></div>
			  </a>

			  <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			  </button>
			</div>

			 <div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav" id="navbar-main">
		        <li >
		          <a href="http://www.mastercity.ru/">Форум</a>
		        </li>
		        <li >
		          <a href="http://www.mastercity.ru/blogs">Блоги</a>
		                                                </li>
		        <li >
		          <a href="http://www.mastercity.ru/video">Видео</a>
		                                                </li>
		        <li  class="active">
		            <a href="http://baraholka.mastercity.ru">Барахолка</a>
		                </li>
		        <li >
		           <a href="http://www.mastercity.ru/sale">Скидки</a>
		                                <span class="sale-counter">7</span>
		                                                </li>
					</ul>

					<ul class="nav navbar-nav navbar-right navbar-unlogin">
					<li>
					<a href="https://my.mastercity.ru/login/">Войти</a>
					</li>
					<li>
					<a href="https://my.mastercity.ru/register/">Зарегистрироваться</a>
					</li>
					</ul>
				</div>

		</div>
	</div>


	<div class="navbar navbar-second navbar-default">
	  <div class="container container-redisain" style="padding:0;">
			<div class="navbar-header">
			  <button class="navbar-toggle btn btn-default" data-target="#navbar-second"
			          data-toggle="collapse" type="button">
			      Меню раздела
			  </button>
			</div>


			<div class="navbar-collapse collapse" id="navbar-second" style="padding:0 0 0 10px;">
			  <ul class="nav navbar-nav">
			    <li>
					<a href="/feed/" class="submenu-link">
					    <div class="submenu-link-text submenu-link-text_redisain">Новые сообщения</div>
					</a>
					</li>
					                    <li>
					<a href="/users/" class="submenu-link">
					    <div class="submenu-link-text submenu-link-text_redisain">Список пользователей</div>
					</a>
					</li>
					                    <li>
					<a href="/albums/" class="submenu-link">
					    <div class="submenu-link-text submenu-link-text_redisain">Альбомы</div>
					</a>
					</li>
					                    <li>
					<a href="/forums/tags" class="submenu-link">
					    <div class="submenu-link-text submenu-link-text_redisain">Популярные теги</div>
					</a>
					</li>
				</ul>

			  <div class="f-navigation__regions__title span4 hidden-phone pull-right text-right">
                    <span>Поиск в регионе: </span>
            <a href="#" class="ajax" id="j-f-region-desktop-link">Санкт-Петербург</a>
            </div>
			</div>
		</div>
	</div>
</div>