<div class="category clearfix">

    <div class="left block-input">
        <input class="border-grey-radius input-search" type="text" name="q" placeholder="Поиск объявлений..." autocomplete="off" value="">
    </div>
    <div class="left">
        <a class="border-grey-radius btn-category ellipsis" href="#" style="width:200px;">
            <span>Электроинструменты</span>
            <i class="fa fa-angle-down btn-category__down"></i>
        </a>
    </div>
    <div class="left">
        <button type="submit" class="btn-category btn-category_submit ">Найти</button>
    </div>
</div>