<div class="col-md-3 thumbnails-block">
    <div class="thumbnails-block_border">
    	<a class="rel thumbnails-href" href="http://baraholka.mastercity.ru/moskva/search/instrumenty/elektroinstrumenty/podstavki-pod-sverla-bity-frezy-pilki-elektrolobzika-1756.html" title="Подставки под сверла, биты, фрезы, пилки электролобзика">
       <img class="rel thumbnails-img" src="http://media.mastercity.ru/thumbnails/flea_offer/41/f2/dd/41f2dd79e94a50e86b4b67c63dd89af4.jpeg" alt="Подставки под сверла, биты, фрезы, пилки электролобзика">
      </a>
    </div>
    <div class="thumbnails-text">
    	<h5 class="thumbnails-h5">
    		<span class="quickly">Срочно</span>
    		<a href="javascript:void(0)">Оборудование для</a>
    	</h5>
    	<p class="price">245 000 руб</p>
    	<div class="description">
    		<small>Торг возможен</small>
    		<small>Строительная и скаладская техника</small>
    	</div>
    </div>

</div>